<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="google-site-verification" content="V6ADvNaoWhvdHU7pFyldmGGCIBtP2lV2L_t8nZcsZQ0">
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="css/master.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Dosis" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css">
</head>
<body>
    <div id="fullpage">
        <header id="header" class="<% if (home) { %>header-higher<% } %>">
            <navbar id="navbar">
                <ul>
                    <li><a href="index.html">Accueil</a></li><li><a href="a-propos.html">À propos</a></li>
                </ul>
            </navbar>
            <h1><%= h1 %></h1>
            <h2><%= h2 %></h2>
            <% if (home) { %>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i> Orléans, France</span>
                <img class="avatar" src="img/hugo-posnic.jpg" alt="Hugo Posnic">
            <% } %>
        </header>

        <div id="content">
            <%- yield %>
        </div>
        <div class="push"></div>
    </div>
    <footer id="footer">
        <p>© Hugo Posnic 2017, Tous droits réservés.</p>
    </footer>
</body>
</html>
